@import '~@zimbra/x-ui/helpers.less';

.placeholder {
	height: 100%;
	display: flex;
	align-items: center;
	margin-top: -(@toolbar-height);
	@media(max-width: @screen-sm-max) {
		margin-top: -(@mobile-toolbar-height);
	}
	background-position: center;
	background-repeat: no-repeat;
	background-size: 130px 128px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="#e7e7e7" d="M.002 59.15v-3.545q0-2.724 1.226-4.974 1.226-2.247 3.27-3.747L58.735 9.546q1.363-1.088 2.93-1.566 1.567-.476 3.202-.476 1.77 0 3.339.476 1.567.478 2.793 1.566l54.235 37.338q2.045 1.5 3.27 3.749 1.227 2.248 1.227 4.974v3.95l-23.167 16.216V52.472q0-1.498-1.157-2.59-1.158-1.088-2.658-1.088h-75.63q-1.635 0-2.724 1.089-1.09 1.09-1.09 2.589v22.894L.002 59.15zm73.038 47.83q-1.772 1.362-3.883 1.977-2.113.611-4.293.611t-4.293-.613q-2.111-.613-4.019-2.11L0 67.596v52.055q0 3.408 2.383 5.86 2.386 2.454 5.929 2.454h113.104q3.543 0 6.063-2.454 2.521-2.452 2.521-5.86V68.143L73.04 106.98zM48.922 76.591q0 7.63 4.7 12.4 4.703 4.77 12.607 4.77 6.678 0 10.288-2.658 3.611-2.657 3.611-4.837 0-2.18-1.704-2.793t-1.84-.478q-1.362 2.045-3.679 3.749-2.317 1.703-6.678 1.703-4.632 0-7.697-2.794-3.067-2.793-3.476-7.427h24.12q1.09 0 1.499-.478.409-.475.409-1.566v-.545q0-7.36-4.293-11.923-4.293-4.565-11.379-4.565-7.085.137-11.786 5.041-4.702 4.906-4.702 12.401zm6.267-2.996q.684-4.09 3.476-6.679 2.793-2.589 6.882-2.589 4.088 0 6.542 2.52 2.452 2.521 2.724 6.746H55.189z"/></svg>');
}

.numOverlay {
	flex: 1;
	margin-top: 24px;
	text-align: center;
	font-size: 72px;
	font-weight: 300;
}
