@import '~@zimbra/x-ui/refs.less';


.tooltipContainer {
	background: url('../../assets/help-icon.svg') center/contain no-repeat;
	margin: 8px;
	width: 16px;
	height: 16px;
	&:hover {
		cursor: pointer;
	}
	.tooltip {
		position: fixed;
		transition: all 200ms ease-in-out;
		color: white;
		background: @gray-darkest;
		font-size: @font-size-small;
		margin-left: 20px;
		padding: @spacing-sm @spacing-lg @spacing-sm @spacing-md;
		word-wrap: break-word;
		width: auto;
		min-width: 200px;
		max-width: 350px;
		cursor: default;
		* {
			width: auto;
		}
	}
}

.close {
	position: absolute;
	font-size: 14px;
	top: 8px;
	right: 8px;

	&:hover {
		cursor: pointer;
	}
}
